<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.idion.board.mapper.PostsMapper">
  <select id="selectPostList" resultType="HashMap">
      SELECT  pst.id
             ,pst.subject
             ,DATE_FORMAT(pst.updated_datetime, "%Y-%m-%d %H:%i:%s") AS updated_datetime
             ,usr.user_name
             ,pst.hit
        FROM posts pst
            ,user  usr
       WHERE 1 = 1
         AND pst.updated_user_id = usr.user_id
       ORDER BY id DESC
  </select>
  
  <select id="checkWriter" parameterType="HashMap" resultType="int">
      SELECT COUNT(*)
        FROM user
       WHERE user_name = #{writer}
  </select>
  
  <insert id="insertPost" parameterType="HashMap">
      INSERT INTO posts (
                           parent_id, depth, board_id
                         , subject, content
                         , created_datetime, created_user_id
                         , updated_datetime, updated_user_id
                         , hit, `delete`
                        )
      VALUES (
                0, 0, 1
              , #{subject}, #{content}
              , NOW(), (SELECT user_id FROM user WHERE user_name = #{writer})
              , NOW(), (SELECT user_id FROM user WHERE user_name = #{writer})
              , 0, 0
             )
  </insert>
  
  <select id="viewPost" parameterType="int" resultType="HashMap">
    SELECT  pst.id
          , pst.subject
          , pst.content
          , DATE_FORMAT(pst.updated_datetime, "%Y-%m-%d %H:%i:%s") AS updated_datetime
          , usr.user_name
          , pst.hit
      FROM posts pst
          ,user  usr
     WHERE 1 = 1
       AND pst.id = #{id}
       AND pst.updated_user_id = usr.user_id
  </select>
  
  <update id="updateHit" parameterType="int">
    UPDATE posts
       SET hit = hit + 1
     WHERE id = #{id}
  </update>
  
  <update id="updatePost" parameterType="HashMap">
    UPDATE posts
       SET  subject = #{subject}
          , content = #{content}
          , updated_datetime = NOW()
     WHERE 1 = 1
       AND id = #{postid}
  </update>
  
  <delete id="deletePost" parameterType="int">
    DELETE FROM posts
     WHERE 1 = 1
       AND id = #{id}
  </delete>
</mapper>