<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.idion.board.mapper.PostsMapper">
  <select id="selectPostList" resultType="HashMap">
      SELECT  pst.id
             ,pst.subject
             ,DATE_FORMAT(pst.updated_datetime, "%Y-%m-%d %H:%i:%s") AS updated_datetime
             ,usr.user_name
             ,pst.hit
        FROM posts pst
            ,user  usr
       WHERE 1 = 1
         AND pst.updated_user_id = usr.user_id
       ORDER BY id DESC
  </select>
</mapper>